/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
}
* {
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    border:0px;
}
a{
    color:white;
    text-decoration: none;
}
html,body{
    height:100%;
    background-color: #FAFAFB;
}
/* Full-width input fields */
input[type=text], input[type=password],input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* Set a style for all buttons */
button, .submitbtn, input[attr="subbtn"] {
    display: block;
    background-color:black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    width: 100%;
}

a:hover,button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* Style the tables and buttons on mouse-over */
table, th, td {
    width: max-content;
    margin-left:auto; 
    margin-right:auto;
    text-align: center;
}
#page-container{
    width:100%;
    /* */
}

#left-tab{
    color: white;
    position: absolute;
    left: 0;right: 0;top: 7%;bottom:0;
    height: fill;
    width:100px;
    display:inline-block;
    border-right: 1px solid rgb(37, 200, 206); 
    margin-right:5px;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: rgb(32, 38, 46);
}
#left-tab>*{
    color: white;
}
#left-tab>*:hover{
    color:black;
    background-color: white;
}
#content{
    width:80%;
    display:inline-block;
}

.categoryLinks:hover,.categoryLinks:hover>td{
    background-color: #0084ff;
    color:black;
    border-radius: 2px;
}


/*new thing*/

body {
  font-family: 'Segoe UI', sans-serif;
}
#topbar{
  height: 7vh;
  padding-left:20px;
  padding-right:20px;
  background-color: rgb(28, 33, 40);
  border-top: 2px solid #0084ff;
  border-bottom: 1px solid black;
}
#topbar>title>img,#topbar>title>a{
    background-color: white;
}
#logo {
  float: left;
  color: white;
}
#title{
  height:100%;
  float: left;
  width:150px;
}
#title-name{
  vertical-align: top;
  display: inline-block;
  color:white;
  font-size: 1.7em;
  height: fit-content;
}
.menu{
  float:right;
  height: 6vh;
  width:fit-content;
}
.menu>ul {
  display:inline-block;
  list-style-type: none;
  height: 6vh;
}
.element {
  padding-left: 1vw;
  padding-right: 1vw;
  position: relative;
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 20px;
  height:7vh;
}
.element>*{
  display:inline-block;
  vertical-align: top;
}
.element>#plusIcon{
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
  width:30px;
  height: 30px;
}
.menu>ul>li {
  float: left;
}
.element:hover,.element:active {
  background-color: #0084ff;
  border-bottom: 3px solid #0084ff;
  cursor: pointer;
  z-index: 1;
}
.menu>ul>li>ul {
  
  width:auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
}
.menu>ul>li:hover>ul,.menu>ul>li:active>ul {
  display: block;
}
.menu>ul>li:hover>ul:hover>li:hover {
  display: block;
  background-color: rgb(32, 38, 46);
  border-radius:5px
}
.menu>ul>li>ul>li {
  padding: 5px;
  margin:5px;
}
.menu>ul>li>ul {
  position: absolute;
  background-color: #0084ff;
  right:0;
  top: 7vh;
  z-index: 1;
}
