/* Responsive layout */
@media screen and (max-width: 600px) {
  .menu{
    display: none !important;
  }
  .left-tab {
    display:none !important;
  }
  .content {
    position: fixed !important;
    left:0 !important;
    top:7vh !important;
    width:100vw !important;
    padding-left:0 !important;
  }
}
* {
  box-sizing: border-box;
  margin:0px;
  padding:0px;
  border:0px;
}

html,body {
  height:100%;
  background-color: #FAFAFB;
  font-family: 'Segoe UI', sans-serif !important;
}
/* Full-width input fields */
input[type=text], input[type=textarea], input[type=password],input[type=date],textarea {
  width:90%;
  padding: 5px 5px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* Set a style for all buttons */
button, .submitbtn, input[attr="subbtn"] {
  display: block;
  background-color:black;
  color: white;
  padding: 14px 0;
  margin: 8px 0;
  width: auto;
}
input[type="button"]{
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  border-radius:2px;
}
input[type="button"]:hover{
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
  
}
/* Style the tables and buttons on mouse-over */
table {
  width:100%;
  text-align: center;
  border-collapse: collapse;
}
th,td {
  text-align: center;
}
textarea {
  font-family: 'Segoe UI', sans-serif !important;
}
a {
  color:white;
  text-decoration: none;
}
.links {
  padding:10px;
  margin:10px;
  color:black;
  text-decoration:initial;
}
.links-with-buttons>input[type='button'] {
  padding:10px;
  margin:10px;
  color:black;
}

.left-tab {
  display: block;
  color: white;
  position: fixed;
  left: 0;right: 0;top: 35px;bottom:0;
  height: 100vh;
  width:100px;
  display:inline-block;
  border-right: 1px solid rgb(0, 247, 255); 
  margin-right:5px;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: rgb(32, 38, 46);
  z-index:100;
}
.left-tab>* {
  color: white !important;
}
.categoryLinks>*>* {
  color:white;
}
.left-tab>*:hover {
  color:black;
}
.content {
  position: absolute;
  left:100px; top:35px !important;
  width: -moz-calc(100% - 100px);
  width: -webkit-calc(100% - 100px);
  width: calc(100% - 100px);
  height: 100%;
  display:inline-block;
  text-align:center;
}
.content-container {
  position: absolute;
  width:100%;
  height: 100%;
  text-align:center;
}

/*new thing*/
.topbar {
  position: fixed;
  top:0;left:0;
  height: 35px;
  width:100vw;
  padding-left:20px;
  padding-right:20px;
  background-color: rgb(28, 33, 40);
  border-top: 2px solid #0084ff;
  border-bottom: 1px solid black;
  z-index:100;
}
.topbar>title>img, .topbar>title>a {
  background-color: white;
  font-size:20px
}
#logo {
  float: left;
  color: white;
}
#title {
  height:100%;
  float: left;
  width:150px;
}
#title>a>img {
  width:30px;
  height:30px;
}
#title-name {
  vertical-align: top;
  display: inline-block;
  color:white;
  font-size: 25px;
  height: fit-content;
}
.menu {
  float:right;
}
.menu>ul {
  display:inline-block;
  list-style-type: none;
  height: 35px;
}
.element {
  position:relative;
  padding-left: 5px;
  padding-right: 5px;
  display: block;
  color: white;
  text-align: center;
  height:35px;
  float: left;
}
.element>* {
  vertical-align: top;
}
.element>#plusIcon {
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
}
.element>ul {
  position: absolute;
  right:0;
  top: 35px;
  background-color: #0084ff;
  display: none;
  min-width: fit-content;
  list-style-type: none;
}
.element>ul>li {
  padding: 5px;
  margin:5px;
}
.element:hover,.element>button:focus {
  background-color: #0084ff;
  border-bottom: 3px solid #0084ff;
  cursor: pointer;
}

.element:hover>ul,.element>:hover,.element:hover>ul:hover,.element>button:focus+ul {
  display: block;
}

.element:hover>ul:hover>li:hover {
  display: block;
  background-color: rgb(32, 38, 46);
  border-radius:5px
}

.categoryLinks:hover, .categoryLinks:hover>td, .categoryLinks:hover>td>a {
  background-color: #0084ff;
  color:black;
  border-radius: 2px;
}
/*styling for createThread.php*/
.add-thread-container {
  width:70vw;
  margin-top:40px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}

.userlinks {
  border-bottom:3px solid #0084ff;
}

.thread-list-container {
  margin-top:40px;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right:auto;
  width:90%;
  border-radius:5px;
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
}
.thread-links-list>td {
  margin-bottom:5px;
  border-radius:4px;
}
.thread-links-list>tr {
  height:40px;
}
.thread-links-list:hover {
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
  border-radius:8px;
}
.stock-buttons{
  margin:0;
  padding:0;
  border:none;
  outline:none;
  background-color: transparent;
  color:transparent;
}